# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
.env
*.env

# Flask instance folder (contains database)
instance/
*.db

# Distribution / packaging
.dist/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# IDE/editor specific
.vscode/
.idea/
*.sublime-*

# OS-specific files
.DS_Store
Thumbs.db
